.header{
	height:10%;
	width:99%;
	border:solid px black;

	background:rgb(75,176,80);
	
	
	
}
.header a{
	
	margin-left:80%;
	margin-top:90%;
	
}
input[class=about]{
	
	background:blue;
	height:50%;
	width:10%;
	margin-top:10px;
	
}
input[class=about] hover{
	
	background:black;
	height:50%;
	width:10%;
	margin-top:10px;
	
}
.main{
	
	height:80%;
	width:99%;
margin-top:10px;
	border:solid px black;
	
	
	
	
}

.miki hr{
	
	
	margin-top:30%;
	
}
.miki{
	
	height:90%;
	width:45%;

	border:solid px black;
	margin-top:2%;
	box-shadow:2px 2px 2px rgb(75,176,80);
	
	
}
.miki img{
	
	
	
}

.miki img{
	
	box-shadow:2px 2px 2px black;
	height:50%;
	width:30%;
	
	
}

.miki h3{
	
	text-shadow:2px 2px 2px black;
	color:gray;
	text-transform:uppercase;
	margin-top:-34%;
    margin-left:35%;	
	
}
.miki p{
	
	
	color:black;
	
	
}
.miki ul{
	
	margin-left:40%;
	
}
.ela{
	
	
	height:90%;
	width:45%;
	border:solid px black;
	
	margin-left:55%;
	margin-top:-33.6%;
	box-shadow:2px 2px 2px rgb(75,176,80);
	
	
}
.ela img{
	box-shadow:2px 2px 2px black;
	height:50%;
	width:30%;
	
	
	
	
}
.ela ul{
	
	margin-left:40%;
	
}
.ela h3{
	
		text-shadow:2px 2px 2px black;
	color:gray;
	text-transform:uppercase;
	margin-top:-37%;
    margin-left:35%;	
	
	
}
.ela hr{
	
	
	margin-top:30%;
	
}
