.all{
	margin-top:5%;
	height:80%;
	width:100%;
	border:solid px black;
	float:left;
	box-shadow:1px 2px 2px  #66FF99;
	overflow:auto;
}
.head{
position:absolute;
	height:10%;
	width:70%;
	background:rgb(76,175,80);
	padding-left:28%;
	

	
}
.headin{
	position:absolute;
	height:95%;
	width:20%;
	border:solid 1px black;
	margin-left:50%;
	
}

.main{
margin-top:5px;
	border-top:ridge 1px black;
	height:70%;
	width:20%;
	background:white;
	margin-left:9.9%;
	
	box-shadow:1px 2px 2px 2px #336666;
	
	
}
.inmain{
	z-index:10;
	
		
	height:22%;
	width:100%;
	background:rgb(76,175,80);

	margin-top:37%;	
	box-shadow:0px 1px 9px 1px black;
	
	
}
.main1{
	
	border-top:ridge 1px black;
	border-left:solid px black;
	height:70%;
	width:20%;
	background:white;
	margin-left:40%;
	margin-top:-26%;
	box-shadow:1px 2px 2px 2px #336666;
	
	
}
.inmain2{
		
	height:22%;
	width:100%;
	background:rgb(76,175,80);

margin-top:37%;	
	box-shadow:0px 1px 9px 1px #336699;
	
}
.main2{
	
	border-top:ridge 1px black;
	border-left:solid 1px black;
	height:70%;
	width:20%;
	background:white;
	margin-left:70%;
	margin-top:-26%;
	box-shadow:1px 2px 2px 2px #336666;
	
	
}
.inmain3{
		border:solid px black;
	height:22%;
	width:100%;
	background:rgb(76,175,80);
	margin-left:-px;
margin-top:37%;	
box-shadow:0px 1px 9px 1px black;
	
	
	
}









input[type="button"]{
	margin-left:70%;
	
	box-shadow:2px 2px 2px black;
	background:#33CCCC;
	
	margin-top:-28%;
	
	height:35%;
	width:27%;
	background-color:33CCFF;
	color:white;

	
	border:none;
	border-radius:2px;
	cursor:pointer;
}
input[type="button"]:hover{
	margin-left:70%;
	
	box-shadow:2px 2px 2px black;
	background:#33CCCC;
	
	margin-top:-28%;
	
	height:35%;
	width:27%;
	background-color:red;
	color:white;

	
	border:none;
	border-radius:2px;
	cursor:pointer;
}





h3{
	font-size:40px;
	text-shadow:2px 2px black;
	font-family:serif;
	color:white;
	position:absolute;
	margin-top:-7px;
	
	
	
	
	
	
}

	
h4{
	margin-left:4px;
	font-size:20px;
	text-shadow:2px 2px rgb(77,77,77	);
	font-family:serif;
	color:white;
	
}
h4[class=addis]{
	
		font-size:19px;
		
}
h5{
	margin-top:-4px;
	margin-left:4px;
	font-size:20px;
	text-shadow:2px 2px rgb(77,77,77	);
	font-family:serif;
	color:white;
	
}
h5[class=gen]{
	
	margin-top:-15px;
	margin-left:4px;
	font-size:15px;
	text-shadow:2px 2px rgb(77,77,77	);
	font-family:serif;
	color:white;
	
}
h5[class=year]{
		margin-top:-25px;
	margin-left:4px;
	font-size:10px;
	text-shadow:2px 2px rgb(77,77,77	);
	font-family:serif;
	color:white;
	
	
	
}


#cf{
	position:relative;
	height:50%;
	width:89%;
	margin:0 auto;
	padding-left:5px;
	
	
	
}

#cf img{
	width:109%;
	position:absolute;
	left:0;
	-webkit-transition:opacity 1s ease-in-out;
	-moz-transition:opacity 1s ease-in-out;
	-o-transition:opacity 1s ease-in-out;
	transition:opacity 1s ease-in-out;
}
#cf img.top:hover{
	
	
	opacity:0;
	
}
img{
	margin-left:-10px;
	height:155%;
	
	width:223px;
}
.about{
	color:white;
	font-size:100%;
	margin-top:20px;
	
	
}
.about ul{
	padding: 5px;
list-style-type: none;
text-align: right;
border-radius: 5px;
	
}

.about ul li{
display: inline;
	
}

.about a{
	padding: 2em 1em;
	color:white;
	font-family:georgia,garamond,serif;
	
	
}




#scrollbar
{
	
	float: left;
	
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
}
	
	