.all{
	margin-top:5%;
	height:80%;
	width:100%;
	border-top:ridge 1px black;
	float:left;
	box-shadow:1px 2px 2px  #66FF99;
	overflow:auto;
}
.main{
	border:solid px black;
	height:15%;
	
		background:rgb(76,175,80);
	width:78%;
	margin-top:-36%;
	margin-left:21%;
}
.mainin{
	
	border:solid px black;
	width:78%;
	height:80%;
	margin-left:21%;
	
}
.unimain{
	
	
	height:99%;
	width:20%;
	border:solid px black;
	box-shadow:2px 2px 2px black;
	
}
.listmain{
	margin-top:-35%;
	height:94%;
	width:17%;
	border:solid px black;
	margin-left:82.7%;
	box-shadow:2px 2px 2px 2px rgb(76,175,80);
	
}
.profile{
	
	height:40%;
	width:99%;
	border:solid px black;
	
}
.detail{
	
	
	
	
	height:95%;
	width:80%;
	border:solid px black;
	box-shadow:2px 2px 2px rgb(76,175,80);
}
.detailfirst{
	
	
	height:99%;
	width:50%;
	border:solid px black;
	box-shadow:2px 2px 2px rgb(75,176,80);
	overflow:auto;
	
}
.detailsecond{
	
	margin-left:55%;
	margin-top:-44.6%;
	height:97%;
	width:45%;
	border:solid px black;
	box-shadow:2px 2px 2px rgb(76,175,80);
	overflow:auto;
	
}
.detailimage{
	
	margin-left:10px;
	height:30%;
	border:solid px black;
	width:45%;
	margin-top:10px;
	
	
}
.detailimage2{
	
	margin-left:10px;
	height:30%;
	border:solid px black;
	width:45%;
	margin-top:10px;
	
	
}
.detailmain{
	height:20%;
	margin-left:50%	;
	margin-top:-18%;
	border:solid px black;
}
.detailinfo{
	margin-top:10px;	
	height:50%;
	border:solid px black;
	
	
	
	
}
.detailmain2{
	height:20%;
	margin-left:53%	;
	margin-top:-27%;
	border:solid px black;
}

.detailimage img{
	
	height:100px;
	left:312;
	-webkit-transition:opacity 1s ease-in-out;
	-moz-transition:opacity 1s ease-in-out;
	-o-transition:opacity 1s ease-in-out;
	transition:opacity 1s ease-in-out;
	box-shadow:2px 2px 2px rgb(76,175,80);
}
.detailimage img.top:hover{
	
	
	opacity:0;
	
}
.detailimage img.top{
	margin-top:-100px;
	
}
.detailimage2 img.top{
	margin-top:-100px;
	
}
.detailimage2 img{
	
	
	height:100px;
	
	left:770;
	-webkit-transition:opacity 1s ease-in-out;
	-moz-transition:opacity 1s ease-in-out;
	-o-transition:opacity 1s ease-in-out;
	transition:opacity 1s ease-in-out;
	box-shadow:2px 2px 2px rgb(76,175,80);
}
.detailimage2 img.top:hover{
	
	
	opacity:0;
	
}
.detailimage img.top:hover{
	
	
	opacity:0;
	
}
img{
	margin-left:-10px;
	height:18%;
	
	width:190px;
}
.profile img{
	
	height:100%;
	width:100%;
	margin-left:4px;
	box-shadow:2px 2px 2px black;
	
}
b{
	
	
	
	text-decoration:blink;
}
.information{
	
	margin-top:20%;
	float:bottom;
	text-decoration:blink;
	color:black;
	height:70%;
	width:100%;
	border:solid px black;
	marquee-style:;
	text-decoration:blink;
	box-shadow:2px 2px 2px rgb(75,176,80);
	
	
}
