.main_container{
	background-color: ;
	border:solid black 1px;
    border-color:33CCFF ;

	height:100%;
	width:100%;
	border-radius:10px;
	margin-left:px;
	margin-right:px;
	box-shadow:4px 4px 8px #333300;
	
}

.submain{
	
	border:solid black px;

	margin:center;
	height:100px;
	width:1465px;
	border-color:black;
	border-radius:10px;
	background-color:33CCFF;
	
	box-shadow:4px 4px 8px #333300;
}
.firsthead{
	box-shadow:4px 4px 8px #333300;
	border:solid black px;
	margin-left:350px;
	height:570px;
	width:500px;
	border-color:black;
	border-radius:10px;
	background-color:99CCFF;
	overflow:auto;
}
.underlogin{
	
	
	box-shadow:4px 4px 8px #333300;
	border:solid black px;
	margin-top:px;
	margin-bottom:px;
	margin-left:px;
	margin-right:5px;
	height:570px;
	width:500px;
	border-color:black;
	border-radius:px;
	background-color:white;
	border-radius:10px 10px 10px 10px;
}
	
	.undersignup{
	
	
	box-shadow:4px 4px 8px #333300;
	border:solid black px;
	margin-top:-575px;
	margin-bottom:px;
	margin-left:710px;
	margin-right:5px;
	height:570px;
	width:770px;
	border-color:black;
	border-radius:px;
	background-color:white;
	overflow:auto;
	border-radius:10px 10px 10px 10px;
}
}
.secondhead{
	box-shadow:4px 4px 8px #333300;
	border:solid black px;
	margin-top:-575px;
	margin-bottom:5px;
	margin-left:710px;
	margin-right:5px;
	height:570px;
	width:760px;
	border-color:black;
	border-radius:10px;
	background-color:99CCFF;
	overflow:auto;
	white-space:nowrap;
}
input{
	
	
	border-radius:5px;
	background-color:CCFFCC;
	
	text-shadow:4px 4px 8px #33FF33;
	border-color:black;
	
}
input[type=text],select{
	width:100%;
	padding:12px 20px;
	margin:8px 0;
	display:inline-block;
	border:1px solid #ccc;
	border-radius:4px;
	box-sizing:border-box;
	
	
}
input[type=text1],select{
	width:70%;
	padding:12px 20px;
	margin:8px 0;
	display:inline-block;
	border:1px solid #ccc;
	border-radius:4px;
	box-sizing:border-box;
	
	
}
input[type=password],select{
	width:100%;
	padding:12px 20px;
	margin:8px 0;
	display:inline-block;
	border:1px solid #ccc;
	border-radius:4px;
	box-sizing:border-box;	
	
	
}
input[type=password1],select{
	width:70%;
	padding:12px 20px;
	margin:8px 0;
	display:inline-block;
	border:1px solid #ccc;
	border-radius:4px;
	box-sizing:border-box;
	
	
}
input[type=submit]1{
	width:15%;
	background-color:33CCFF;
	color:white;
	padding:14px 20px;
	margin:8px;
	border:none;
	border-radius:10px;
	cursor:pointer;
}
input[type=submit]{
	width:90%;
	background-color:33CCFF;
	color:white;
	padding:14px 20px;
	margin:8px;
	border:none;
	border-radius:10px;
	cursor:pointer;
}
select{
	width:30%;
	padding:12px 12px;
	margin:8px 0;
	display:inline-block;
	border:1px solid #ccc;
	border-radius:4px;
	box-sizing:border-box;
	background-color:99CCFF;
	box-shadow:2px 2px 8px #333300;
}
select[id=birth]{
		width:15%;
	padding:12px 12px;
	margin:8px 0;
	display:inline-block;
	border:1px solid #ccc;
	border-radius:4px;
	box-sizing:border-box;
	background-color:99CCFF;
	box-shadow:2px 2px 8px #333300;
}
input.hover{
	
	background-color:99CCCC;
	
	
	
	
}
a.hover{
	background-color:99CCCC;
}
p{
	font-size:30px;
	text-shadow:4px 4px 8px #333300;
}
h3{
	font-family:georgia,garamond;
	background-color:33CCFF ;
	text-shadow:4px 4px 8px #333300;
	box-shadow:4px 4px 8px #333300;
	border-radius:10px;
	
}
h1{
	
	text-shadow:3px 2px #33FF33;
	color:#333333;
	font-size:70px;
	padding-bottom:0px;
	margin-top:-3px;
}
h2{
	
	font-family:georgia,garamond;
	background-color: #243942 ;
	text-shadow:4px 4px 8px #333300;
	box-shadow:4px 4px 8px #333300;
	border-radius:10px 10px 0px 0px;
	margin-top:0px;
	color:white;
}
	