
messages{
	
	height:50%;
	width:100%;
	background:gray;
	
}
to{
	font-size:40px;
	border:solid 1px black;
	height:600px;
}
note{
	border:solid 1px black;
	height:50%;
	width:70%;
	background-color:white;
	margin-left:15%;
	margin-top:10%;
	box-shadow:4px 4px 4px black;
}
innote{
	border:solid 1px red;
	width:40%;
	height:40%;
	background-color:white;
	margin-left:10%;
	margin-top:20%;
	box-shadow:4px 4px 4px black;
}
head{
	
	font-size:30px;
	text-shadow:2px 2px 2px white;
	background:gray;
	margin-left:40%;
	
}
head1{

	height:300px;
	font-size:30px;
	text-shadow:2px 2px 2px white;
	background:gray;
	margin-left:31%;
	margin-top:30%;
}
.login{
	background:gray;
	height:100%;
	width:200px;
	border:solid 1px black;

}
